<div class="card">
    <div class="card-header">ĐIỆN THOẠI</div>
    <div class="card-body">
        <a href="" class="list-group-item">IPhone 12</a>
        <a href="" class="list-group-item">Note 20</a>
        <a href="" class="list-group-item">VSmart</a>
        <a href="" class="list-group-item">Oppo</a>
        <a href="" class="list-group-item">Nokia</a>
    </div>
</div>